section.fixed {
  margin: 0 0 0 auto;
  height: 100%;
  width: 500px;
  border-radius: 0;
  padding: 0;
}

section.fixed header {
  border-bottom: 1px solid #e6e6e6;
  padding: 16px;
}

section.fixed footer {
  border-top: 1px solid #e6e6e6;
  padding: 16px;
}
